@import '../../../assets/scss/custom.scss';

// Styles
.navbar {
    background-color: #fff !important;
    //   padding: 1rem;
    width: 100%;
    padding: 15px 37px;


    .logo-img {
        width: 50%;

        img {
            padding: 0 20px;
        }


    }

    .container-fluid {
        width: 50%;

        .cust-nav-menu {
            display: flex !important;
            justify-content: center !important;
            color: #000000 !important;
            font-size: 16px !important;
            font-weight: 400 !important;

        }



    }
}



.hero {
    &-wrapper {
        background-image: url(../../../assets/images/banner-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 75%;
        height: 100vh;

        
        .custom-button {
            background-color: $backgroundlight;
            /* Light background color */
            color: #000;
            /* Black text */
            width: 250px;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            // border-radius: 5px; 
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            /* Subtle shadow */
            cursor: pointer;
            text-align: center;
            transition: transform 0.2s ease, box-shadow 0.2s ease;

            &:hover {
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                /* Enhanced shadow on hover */
                transform: translateY(-2px);
                /* Slight lift on hover */
            }

            &:active {
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                /* Reduced shadow on click */
                transform: translateY(1px);
                /* Slight push on click */
            }
        }
    }

      &-title {
        font-size: 77px;
        font-weight: 500;
        line-height: 117px;
        &-container {
            // padding: 125px 0 0 722px;
            position: absolute;
            top: 150px;
            // left: 675px;
            left: 51%;
            display: flex;
            flex-direction: column;
        }
        &-text {
            font-size: 22px;
            font-weight: 300;
            line-height: 5;
            color: #9A9EA5;

        }

    }
}

.footer-wrapper {
    padding: 0 37px;
    background-color: #212529 !important;
    color: #FFFFFF !important;

   li a {
    color: #FFFFFF !important;
   }
}



