<!-- <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed=true" ng-click="isCollapsed=!isCollapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a href="/" class="navbar-brand">Angular Routing</a>
      </div>
      
      <div class="navbar-collapse" ng-class="{'collapse':isCollapsed}" ng-click="isCollapsed=!isCollapsed" id="navbar-collapse-menu">
        <ul class="nav navbar-nav navbar-right">
          <li ><a routerLink="/layout/services"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li ><a routerLink="/layout/home"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
          <li ng-class="{'active':isActive('/contact')}"><a href="#/contact"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        </ul>
      </div>
    </div>
   
</nav>
   -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="logo-img">
    <img src="../../../assets/images/site-logo.jpg" alt="loding...">
  </div>

  <div class="container-fluid ">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- <img src="../../assets/icon/SiteLogo.png" class="card-img-top" alt="..."> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  cust-nav-menu" id="navbarSupportedContent">
      <ul class="navbar-nav   ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        
      </ul>
      
    </div>
    <div>
      <img src="../../../assets/images/icon.png" alt="store-icon" >
    </div>
  </div>
</nav>

<div class="hero-wrapper">
  <div class="hero-title-container">
    <span class="hero-title">New Winter</span>
    <span class="hero-title ">Collection</span>

    <span class="hero-text">Shop the latest fashion</span>

    <span><button class="custom-button" >Add to cart</button></span>
  </div>
</div>

<div class="footer-wrapper">
<footer class="container pt-5 ">
  <div class="row">

    <div class="col-md-5 offset-md-1 mb-3">
      <hr>
      <div>
        <img src="../../../assets/images/footer-img.png" >
      </div>
      
      <hr>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
      </ul>
    </div>

   
  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p class="my-auto">© 2024 Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </div>
</footer>
</div>